\documentclass[12pt,a4paper]{article}
\usepackage{fontspec}
\usepackage{polyglossia}
\setmainlanguage{polish}
\setmainfont{Latin Modern Roman}
\usepackage{geometry}
\geometry{margin=2cm}
\usepackage{enumitem}

\begin{document}

\begin{flushright}
Załącznik nr 2
\end{flushright}

\noindent <<% if student.plec == 'K' %>>Studentka<<% else %>>Student<<% endif %>>: \textbf{<< student.imie|s >> << student.nazwisko|s >>} \hfill Nr albumu: \textbf{<< student.nr_albumu|s >>} \\
Kierunek: \textbf{<< student.kierunek|s >>} \hfill Specjalność: \textbf{<< specjalnosc|s >>} \\
Miejsce praktyki: \textbf{<< firma.nazwa|s >>} \\
Termin: \textbf{<< terminy.od|s >>} -- \textbf{<< terminy.do|s >>}

\vspace{1em}
\begin{center}
\textbf{PROGRAM PRAKTYKI}
\end{center}
\vspace{1em}

\noindent \textbf{A. Etap pierwszy – rozpoczęcie praktyki}
\begin{enumerate}[label=\arabic*), leftmargin=*]
    \item Czynności organizacyjne, szkolenie BHP i ppoż.
    \item Zapoznanie się z zakresem działania zakładu pracy (rodzaj usług, produkcja, struktura organizacyjna itp.) ze szczególnym uwzględnieniem stanowisk informatycznych.
    \item Zapoznanie z projektami realizowanymi przez firmę, środkami produkcji, aplikacjami użytkowymi, stosowanymi technologiami informatycznymi z podkreśleniem wytwórczych narzędzi softwareowych i sieci komputerowych.
\end{enumerate}

\vspace{0.5em}
\noindent \textbf{B. Etap drugi}
\begin{enumerate}[label=\arabic*), leftmargin=*]
    \item Praca na ostatecznym stanowisku pracy, wykonywanie prac i projektów informatycznych tak aby osiągnąć poniższe, wymagane programem studiów, efekty uczenia się:
    \begin{enumerate}[label=\alph*)]
        \item ma wiedzę na temat sposobu realizacji zadań inżynierskich dotyczących informatyki z zachowaniem standardów i norm technicznych;
        \item zna technologie, narzędzia, metody, techniki oraz sprzęt stosowane w informatyce;
        \item zna ekonomiczne, prawne skutki własnych działań podejmowanych w ramach praktyki oraz ograniczenia wynikające z prawa autorskiego i kodeksu pracy;
        \item zna podstawowe zasady bezpieczeństwa pracy i ergonomii w zawodzie informatyka;
        \item pozyskuje informacje odnośnie technologii, metod, technik, sprzętu wymaganego do realizacji powierzonego zadania, posługując się rozmaitymi źródłami literaturowymi i zasobami publikowanymi w języku polskim jak i angielskim;
        \item rozwiązuje praktyczne problemy informatyczne osadzone w środowisku zajmującym się zawodowo działalnością inżynierską w branży IT;
        \item opracowuje dokumentację dotyczącą realizacji podejmowanych zadań w ramach praktyki, a także referuje ustnie prezentowane w niej zagadnienia;
        \item pracuje w zespole zajmującym się zawodowo branżą IT;
        \item przestrzega zasad etyki zawodowej i zgodnie z tymi zasadami korzysta z wiedzy i pomocy doświadczonych kolegów;
        \item kontaktując się z osobami spoza branży potrafi zarówno pozyskać od nich niezbędne informacje do realizacji planowanego zadania, jak i przekazać im w sposób zrozumiały informacje i opinie z zakresu informatyki;
        \item dostrzega w praktyce tempo deaktualizacji wiedzy informatycznej oraz skutki działalności informatyków szczególnie te ekonomiczne i społeczne.
    \end{enumerate}
    \item Planowany czas realizacji praktyki: 6 miesięcy tj. 120 dni (960 godz.).
\end{enumerate}

\vspace{0.5em}
\noindent \textbf{C. Etap trzeci - zakończenie praktyki}
\begin{enumerate}[label=\arabic*), leftmargin=*]
    \item W trakcie praktyki student prowadzi „Dzienniczek praktyki". Wpisy w dzienniczku powinny być potwierdzone przez zakładowego opiekuna praktyki.
    \item Na „Karcie praktyki zawodowej" kierownik zakładu pracy potwierdza odbycie praktyki a opiekun zakładowy wystawia ocenę parametryczną i w formie opisowej.
    \item Opiekun ze strony zakładu pracy na odpowiednim druku „Potwierdzenie efektów uczenia się" potwierdza osiągnięcie przez praktykanta wymienionych powyżej efektów uczenia się.
\end{enumerate}

\vspace{3em}
\noindent
\begin{minipage}[t]{0.45\textwidth}
\centering
\dotfill\\
\small zakład pracy
\end{minipage}
\hfill
\begin{minipage}[t]{0.45\textwidth}
\centering
\dotfill\\
\small dyrektor Instytutu
\end{minipage}

\end{document}
