\documentclass[11pt,a4paper]{article}
\usepackage{fontspec}
\usepackage{polyglossia}
\setmainlanguage{polish}
\setmainfont{Latin Modern Roman}
\usepackage{geometry}
\geometry{margin=1.5cm}
\usepackage{tabularx}
\usepackage{longtable}

\begin{document}

\begin{flushright}
Zał. nr 2a
\end{flushright}

\noindent
Akademia Nauk Stosowanych w Elblągu \\
Instytut Informatyki Stosowanej im. Krzysztofa Brzeskiego \\
Kierunek studiów: Informatyka

\vspace{1em}

\noindent Student/ka: \textbf{<< student.imie|s >> << student.nazwisko|s >>} \\
Nr albumu: \textbf{<< student.nr_albumu|s >>} \\
Kierunek studiów: Informatyka \hfill Specjalność: \textbf{<< specjalnosc|s >>} \\
Miejsce praktyki (instytucja): \textbf{<< firma.nazwa|s >>} \\
\textbf{<< firma.adres|s >>, << firma.miasto|s >>} \\
Termin realizacji praktyki: od \textbf{<< terminy.od|s >>} do \textbf{<< terminy.do|s >>} \hfill Liczba dni roboczych: 120

\vspace{2em}
\begin{center}
\textbf{PROGRAM PRAKTYKI ZAWODOWEJ}
\end{center}

\renewcommand{\arraystretch}{1.5}
\begin{longtable}{|c|p{8cm}|p{7cm}|}
\hline
\textbf{Lp.} & \textbf{Efekty kształcenia} & \textbf{Dział (komórka) / przykładowe prace wykonywane przez praktykanta} \\ \hline
\endfirsthead
\hline
\textbf{Lp.} & \textbf{Efekty kształcenia} & \textbf{Dział (komórka) / przykładowe prace wykonywane przez praktykanta} \\ \hline
\endhead
<<% for item in harmonogram %>>
\textbf{<< item.efekt_kod|s >>} & << item.efekt_opis|s >> & << item.dzial|s >> / << item.prace|s >> \\ \hline
<<% endfor %>>
\end{longtable}

\newpage

\begin{center}
\textbf{HARMONOGRAM PRAKTYKI ZAWODOWEJ}
\end{center}

\begin{center}
\renewcommand{\arraystretch}{1.5}
\begin{tabular}{|c|p{8cm}|p{4cm}|}
\hline
\textbf{L.p.} & \textbf{Dział / komórka (miejsce odbywania praktyki)} & \textbf{Planowana liczba dni roboczych} \\ \hline
<<% for item in harmonogram %>>
<< loop.index >> & << item.dzial|s >> & \textbf{<< item.dni|num >>} \\ \hline
<<% endfor %>>
\multicolumn{2}{|r|}{\textbf{Łącznie}} & \\ \hline
\multicolumn{2}{|r|}{\textbf{Wymagana}} & \textbf{120} \\ \hline
\end{tabular}
\end{center}

\vspace{3em}
\noindent Opiekun uczelniany (UOPZ): \textbf{<< uopz.imie_nazwisko|s >>} \hfill Opiekun zakładowy (ZOPZ): \textbf{<< zopz.imie_nazwisko|s >>}

\vspace{4em}
\noindent
\begin{minipage}[t]{0.3\textwidth}
\centering
\dotfill\\
\small podpis uczelnianego opiekuna praktyki
\end{minipage}
\hfill
\begin{minipage}[t]{0.3\textwidth}
\centering
\dotfill\\
\small podpis zakładowego opiekuna praktyki
\end{minipage}
\hfill
\begin{minipage}[t]{0.3\textwidth}
\centering
\dotfill\\
\small podpis studenta
\end{minipage}

\end{document}
