\documentclass[11pt,a4paper]{article}
\usepackage{fontspec}
\usepackage{polyglossia}
\setmainlanguage{polish}
\setmainfont{Latin Modern Roman}
\usepackage{geometry}
\geometry{margin=1.5cm}
\usepackage{enumitem}

\setlength{\fboxsep}{8pt}

\begin{document}

\begin{flushright}
Załącznik nr 3a
\end{flushright}

\vspace{-2em}
\begin{center}
Akademia Nauk Stosowanych w Elblągu \\
Instytut Informatyki Stosowanej im. Krzysztofa Brzeskiego
\end{center}

\vspace{0.5em}

\noindent\fbox{
\begin{minipage}{\dimexpr\textwidth-2\fboxsep-2\fboxrule\relax}
\textbf{SKIEROWANIE NA PRAKTYKĘ} \\[0.5em]
Na podstawie porozumienia nr \dots\dots\dots, z dnia \dots\dots\dots\dots\dots\dots\ r., kieruję niżej wymienionego studenta na praktykę zawodową do zakładu pracy: \\[0.5em]
\textbf{<< company.nazwa|s >>}, \textbf{<< company.adres|s >>, << company.miasto|s >>} \\
{\small (nazwa instytucji / zakładu pracy)} \\[0.5em]
\begin{enumerate}[label=\arabic*., leftmargin=*, itemsep=2pt, parsep=0pt]
    \item Imię i nazwisko: \textbf{<< student.imie|s >> << student.nazwisko|s >>}
    \item Numer albumu: \textbf{<< student.nr_albumu|s >>}
    \item Studia: inżynierskie \textbf{<< student.tryb_studiow|s >>}
    \item Kierunek: \textbf{<< student.kierunek|s >>} \hfill specjalność: \textbf{<< specialization|s >>}
    \item Czas trwania praktyki: 6 miesięcy (120 dni roboczych)
    \item Uczelniany opiekun praktyki zawodowej: \textbf{<< supervisor.imie_nazwisko|s >>}
    \item Termin praktyki: od \textbf{<< terminy.od|s >>} do \textbf{<< terminy.do|s >>}
\end{enumerate}
\vspace{1em}
\begin{flushright}
\begin{tabular}{c}
Dyrektor Instytutu \\
lub osoba upoważniona \\
\\
\dots\dots\dots\dots\dots\dots\dots\dots\dots\dots \\
{\small (podpis)}
\end{tabular}
\end{flushright}
\end{minipage}
}

\end{document}
