\documentclass[11pt,a4paper]{article}
\usepackage{fontspec}
\usepackage{polyglossia}
\setmainlanguage{polish}
\setmainfont{Latin Modern Roman}
\usepackage{geometry}
\geometry{margin=1.5cm}
\usepackage{longtable}
\usepackage{array}
\renewcommand{\arraystretch}{1.45}

\begin{document}

\begin{flushright}
ZaĹ‚. nr 4
\end{flushright}

\vspace{-1em}
\begin{center}
\textbf{\large POTWIERDZENIE UZYSKANIA} \\[0.5em]
\textbf{\large EFEKTĂ“W UCZENIA SIÄ W RAMACH} \\[0.5em]
\textbf{\large PRAKTYKI ZAWODOWEJ}
\end{center}

\vspace{1em}

<<% set jest_kobieta = (student.plec == 'F') %>>
<<% set wyniki = assessments | selectattr('wynik') | map(attribute='wynik') | list %>>
<<% if wyniki and 'NOT_ACHIEVED' not in wyniki and 'PARTIALLY_ACHIEVED' not in wyniki %>>
<<% set wynik_ogolny = 'uzyskaĹ‚a' if jest_kobieta else 'uzyskaĹ‚' %>>
<<% elif wyniki and wyniki | select('eq', 'NOT_ACHIEVED') | list | length == wyniki | length %>>
<<% set wynik_ogolny = 'nie uzyskaĹ‚a' if jest_kobieta else 'nie uzyskaĹ‚' %>>
<<% elif wyniki %>>
<<% set wynik_ogolny = 'uzyskaĹ‚a czÄ™Ĺ›ciowo' if jest_kobieta else 'uzyskaĹ‚ czÄ™Ĺ›ciowo' %>>
<<% else %>>
<<% set wynik_ogolny = ('uzyskaĹ‚a / nie uzyskaĹ‚a *' if jest_kobieta else 'uzyskaĹ‚ / nie uzyskaĹ‚ *') %>>
<<% endif %>>

\noindent <<% if jest_kobieta %>>Studentka<<% else %>>Student<<% endif %>>: \textbf{<< student.nazwisko | s >>, << student.imie | s >>} \\
Nr albumu: \textbf{<< student.numer_albumu | s >>} \\
Kierunek studiĂłw: \textbf{<< student.kierunek | s >>} \hfill SpecjalnoĹ›Ä‡: \textbf{<< specialization | s >>} \\

\vspace{1em}
\noindent W ramach praktyki zawodowej zrealizowanej w wymiarze
\textbf{<< lacznie_godzin | num >>} godzin
\textbf{<< wynik_ogolny | s >>} zakĹ‚adane efekty uczenia siÄ™:

\vspace{1em}

\begin{longtable}{|>{\centering\arraybackslash}p{1.1cm}|p{10.3cm}|>{\centering\arraybackslash}p{3.2cm}|}
\hline
\textbf{Lp.} & \textbf{Efekty uczenia siÄ™} & \textbf{Potwierdzenie uzyskania learning_outcomeĂłw} \\ \hline
\endfirsthead
\hline
\textbf{Lp.} & \textbf{Efekty uczenia siÄ™} & \textbf{Potwierdzenie uzyskania learning_outcomeĂłw} \\ \hline
\endhead
\hline \endfoot
\hline \endlastfoot

<<% for ocena in assessments %>>
\textbf{<< "%02d"|format(ocena.learning_outcome.id) >>} &
<< ocena.learning_outcome.description | s >> &
<<% if ocena.result == 'ACHIEVED' %>>
\textbf{<<% if jest_kobieta %>>uzyskaĹ‚a<<% else %>>uzyskaĹ‚<<% endif %>>}
<<% elif ocena.result == 'PARTIALLY_ACHIEVED' %>>
\textbf{<<% if jest_kobieta %>>uzyskaĹ‚a czÄ™Ĺ›ciowo<<% else %>>uzyskaĹ‚ czÄ™Ĺ›ciowo<<% endif %>>}
<<% elif ocena.result == 'NOT_ACHIEVED' %>>
\textbf{<<% if jest_kobieta %>>nie uzyskaĹ‚a<<% else %>>nie uzyskaĹ‚<<% endif %>>}
<<% else %>>
<<% if jest_kobieta %>>uzyskaĹ‚a / nie uzyskaĹ‚a *<<% else %>>uzyskaĹ‚ / nie uzyskaĹ‚ *<<% endif %>>
<<% endif %>>
\\ \hline
<<% endfor %>>

\end{longtable}

\vspace{1em}


\vspace{2em}
\noindent \textbf{Uwagi UOPZ:} \\[0.5em]
<< uwagi_uopz | s(max_length=800) >>

\vspace{2em}
\noindent\hfill
\begin{minipage}[t]{0.45\textwidth}
\centering
\dotfill \\
{\small Data, podpis i pieczÄ™Ä‡ zakĹ‚adu pracy}
\end{minipage}

\vspace{1.5em}
\noindent\hfill
\begin{minipage}[t]{0.45\textwidth}
\centering
\dotfill \\
{\small Data, podpis opiekuna uczelnianego}
\end{minipage}

\end{document}
