\documentclass[11pt,a4paper]{article}
\usepackage{fontspec}
\usepackage{polyglossia}
\setmainlanguage{polish}
\setmainfont{Latin Modern Roman}
\usepackage{geometry}
\geometry{margin=1.5cm}
\usepackage{longtable}
\usepackage{array}
\renewcommand{\arraystretch}{1.45}

\begin{document}

\begin{flushright}
Zał. nr 4
\end{flushright}

\vspace{-1em}
\begin{center}
\textbf{\large POTWIERDZENIE UZYSKANIA} \\[0.5em]
\textbf{\large EFEKTÓW UCZENIA SIĘ W RAMACH} \\[0.5em]
\textbf{\large PRAKTYKI ZAWODOWEJ}
\end{center}

\vspace{1em}

<<% set jest_kobieta = (student.plec == 'F') %>>
<<% set wyniki = oceny | selectattr('wynik') | map(attribute='wynik') | list %>>
<<% if wyniki and 'NOT_ACHIEVED' not in wyniki and 'PARTIALLY_ACHIEVED' not in wyniki %>>
<<% set wynik_ogolny = 'uzyskała' if jest_kobieta else 'uzyskał' %>>
<<% elif wyniki and wyniki | select('eq', 'NOT_ACHIEVED') | list | length == wyniki | length %>>
<<% set wynik_ogolny = 'nie uzyskała' if jest_kobieta else 'nie uzyskał' %>>
<<% elif wyniki %>>
<<% set wynik_ogolny = 'uzyskała częściowo' if jest_kobieta else 'uzyskał częściowo' %>>
<<% else %>>
<<% set wynik_ogolny = ('uzyskała / nie uzyskała *' if jest_kobieta else 'uzyskał / nie uzyskał *') %>>
<<% endif %>>

\noindent <<% if jest_kobieta %>>Studentka<<% else %>>Student<<% endif %>>: \textbf{<< student.nazwisko | s >>, << student.imie | s >>} \\
Nr albumu: \textbf{<< student.numer_albumu | s >>} \\
Kierunek studiów: \textbf{<< student.kierunek | s >>} \hfill Specjalność: \textbf{<< specjalnosc | s >>} \\

\vspace{1em}
\noindent W ramach praktyki zawodowej zrealizowanej w wymiarze
\textbf{<< lacznie_godzin | num >>} godzin
\textbf{<< wynik_ogolny | s >>} zakładane efekty uczenia się:

\vspace{1em}

\begin{longtable}{|>{\centering\arraybackslash}p{1.1cm}|p{10.3cm}|>{\centering\arraybackslash}p{3.2cm}|}
\hline
\textbf{Lp.} & \textbf{Efekty uczenia się} & \textbf{Potwierdzenie uzyskania efektów} \\ \hline
\endfirsthead
\hline
\textbf{Lp.} & \textbf{Efekty uczenia się} & \textbf{Potwierdzenie uzyskania efektów} \\ \hline
\endhead
\hline \endfoot
\hline \endlastfoot

<<% for ocena in oceny %>>
\textbf{<< "%02d"|format(ocena.efekt.id) >>} &
<< ocena.efekt.opis | s >> &
<<% if ocena.wynik == 'ACHIEVED' %>>
\textbf{<<% if jest_kobieta %>>uzyskała<<% else %>>uzyskał<<% endif %>>}
<<% elif ocena.wynik == 'PARTIALLY_ACHIEVED' %>>
\textbf{<<% if jest_kobieta %>>uzyskała częściowo<<% else %>>uzyskał częściowo<<% endif %>>}
<<% elif ocena.wynik == 'NOT_ACHIEVED' %>>
\textbf{<<% if jest_kobieta %>>nie uzyskała<<% else %>>nie uzyskał<<% endif %>>}
<<% else %>>
<<% if jest_kobieta %>>uzyskała / nie uzyskała *<<% else %>>uzyskał / nie uzyskał *<<% endif %>>
<<% endif %>>
\\ \hline
<<% endfor %>>

\end{longtable}

\vspace{1em}


\vspace{2em}
\noindent \textbf{Uwagi UOPZ:} \\[0.5em]
<< uwagi_uopz | s(max_length=800) >>

\vspace{2em}
\noindent\hfill
\begin{minipage}[t]{0.45\textwidth}
\centering
\dotfill \\
{\small Data, podpis i pieczęć zakładu pracy}
\end{minipage}

\vspace{1.5em}
\noindent\hfill
\begin{minipage}[t]{0.45\textwidth}
\centering
\dotfill \\
{\small Data, podpis opiekuna uczelnianego}
\end{minipage}

\end{document}
