\documentclass[11pt,a4paper]{article}
\usepackage{fontspec}
\usepackage{polyglossia}
\setmainlanguage{polish}
\setmainfont{Latin Modern Roman}
\usepackage{geometry}
\geometry{margin=1.5cm}
\usepackage{longtable}
\usepackage{makecell}

\begin{document}

\begin{flushright}
Załącznik nr 4a
\end{flushright}

\vspace{-1em}
\begin{center}
\textbf{\large POTWIERDZENIE UZYSKANIA} \\[0.5em]
\textbf{\large EFEKTÓW UCZENIA SIĘ W RAMACH PRAKTYKI ZAWODOWEJ NA PODSTAWIE %
<<% if zapis.path == 'OWN_BUSINESS' %>>DZIAŁALNOŚCI GOSPODARCZEJ<<% else %>>ZATRUDNIENIA/STAŻU<<% endif %>>}
\end{center}

\vspace{1em}

\noindent Kierunek studiów: Informatyka \\
<<% if student.plec == 'K' %>>Studentka<<% else %>>Student<<% endif %>>: \textbf{<< student.imie|s >> << student.nazwisko|s >>} \\
Nr albumu: \textbf{<< student.nr_albumu|s >>} \\
Kierunek studiów: Informatyka \hfill Specjalność: \textbf{<< specialization|s >>} \\
Miejsce pracy/działalności: \textbf{<< company.nazwa|s >>}

\vspace{1em}
<<% set wyniki = oceny_komisji | selectattr('wynik') | map(attribute='wynik') | list -%>>
<<% if wyniki and wyniki | select('eq', 'NOT_ACHIEVED') | list | length == wyniki | length -%>>
<<% set wynik_ogolny = forma.neg -%>>
<<% elif wyniki and 'NOT_ACHIEVED' not in wyniki and 'PARTIALLY_ACHIEVED' not in wyniki -%>>
<<% set wynik_ogolny = forma.pos -%>>
<<% elif 'PARTIALLY_ACHIEVED' in wyniki or ('ACHIEVED' in wyniki and 'NOT_ACHIEVED' in wyniki) -%>>
<<% set wynik_ogolny = forma.par -%>>
<<% else -%>>
<<% set wynik_ogolny = forma.pos ~ ' / ' ~ forma.neg -%>>
<<% endif -%>>
\noindent W ramach <<% if zapis.path == 'OWN_BUSINESS' %>>działalności gospodarczej<<% else %>>pracy zawodowej/stażu<<% endif %>> << wynik_ogolny|s >> zakładane dla praktyki zawodowej efekty uczenia się:

\vspace{1em}

\renewcommand{\arraystretch}{1.5}
\begin{longtable}{|c|p{10cm}|c|}
\hline
\textbf{Lp.} & \textbf{Efekty uczenia się} & \textbf{Potwierdzenie uzyskania efektów} \\ \hline
\endfirsthead
\hline
\textbf{Lp.} & \textbf{Efekty uczenia się} & \textbf{Potwierdzenie uzyskania efektów} \\ \hline
\endhead

<<% for row in oceny_komisji -%>>
<< row.efekt_kod >> & << row.efekt_opis|s >> & \makecell{<<% if row.wynik == 'ACHIEVED' %>>\textbf{<< forma.pos|s >>}<<% elif row.wynik == 'PARTIALLY_ACHIEVED' %>>\textbf{<< forma.par|s >>}<<% if row.uwagi %>> \\[4pt] \footnotesize\textit{<< row.uwagi|s >>}\normalsize<<% endif %>><<% elif row.wynik == 'NOT_ACHIEVED' %>>\textbf{<< forma.neg|s >>}<<% else %>>---<<% endif %>>} \\ \hline
<<% endfor -%>>
\end{longtable}

\vspace{1em}
\noindent \textbf{Potwierdzenie merytorycznej assessments dokumentacji złożonej przez studenta ze wskazaniem jakie elementy efektów uczenia się zaliczonych częściowo powinny zostać uzupełnione:}

<<% if komentarz_komisji -%>>
\vspace{0.5em}
\noindent << komentarz_komisji|s >>
\vspace{1em}
<<% else -%>>
\vspace{3em}
<<% endif -%>>
\noindent\hfill
\begin{minipage}[t]{0.5\textwidth}
\centering
\dotfill \\
\small data, podpis Przewodniczącego Komisji do spraw praktyk
\end{minipage}

\end{document}
