\documentclass[11pt,a4paper]{article}
\usepackage{fontspec}
\usepackage{polyglossia}
\setmainlanguage{polish}
\setmainfont{Latin Modern Roman}
\usepackage{geometry}
\geometry{margin=1.5cm}
\usepackage{longtable}
\usepackage{array}

\begin{document}

\noindent
Akademia Nauk Stosowanych w Elblągu \\
Instytut Informatyki Stosowanej im. Krzysztofa Brzeskiego

\vspace{1.5em}
\begin{center}
\textbf{\large DZIENNIK PRAKTYKI ZAWODOWEJ}
\end{center}
\vspace{1em}

\noindent Student: \textbf{<< student.imie|s >> << student.nazwisko|s >>} \hfill Nr albumu: \textbf{<< student.nr_albumu|s >>} \\
Kierunek: informatyka \hfill W zakresie: \textbf{<< specialization|s >>} \\
Studia: inżynierskie, \textbf{<< student.tryb_studiow|s >>} \hfill Rok ak.: \textbf{<< internship.rok_uczelniany|s >>} \\
Miejsce odbywania praktyki: \textbf{<< company.nazwa|s >>} \\
\textbf{<< company.adres|s >>, << company.miasto|s >>} \\
Data rozpoczęcia praktyki: \textbf{<< terminy.od|s >>} \hfill Data zakończenia praktyki: \textbf{<< terminy.do|s >>}

\vspace{1.5em}
\noindent \textbf{WYKAZ ZAŁĄCZNIKÓW:} \\
\dotfill \\
\dotfill

\vspace{1.5em}

\renewcommand{\arraystretch}{2}
\setlength{\tabcolsep}{3pt}

\begin{longtable}{|>{\centering\arraybackslash}p{1.3cm}|>{\centering\arraybackslash}p{2.2cm}|p{7.5cm}|>{\centering\arraybackslash}p{2.2cm}|>{\centering\arraybackslash}p{3.0cm}|}
\hline
\textbf{Dzień} & \textbf{Data} & \centering\textbf{Opis wykonanych prac} & \textbf{Nr. efektów uczenia się} & \textbf{Podpis osoby nadzorującej} \\ \hline
\endfirsthead
\hline
\textbf{Dzień} & \textbf{Data} & \centering\textbf{Opis wykonanych prac} & \textbf{Nr. efektów uczenia się} & \textbf{Podpis osoby nadzorującej} \\ \hline
\endhead
\hline \endfoot

<<% for wpis in wpisy %>>
<< loop.index >> & << wpis.data|s >> & << wpis.opis|s >> & << wpis.efekt_nr|s >> & \\ \hline
<<% endfor %>>
<<% if not wpisy %>>
 & & & & \\ \hline
 & & & & \\ \hline
 & & & & \\ \hline
<<% endif %>>

\end{longtable}

\end{document}
