\documentclass[11pt,a4paper]{article}
\usepackage{fontspec}
\usepackage{polyglossia}
\setmainlanguage{polish}
\setmainfont{Latin Modern Roman}
\usepackage{geometry}
\geometry{margin=1.5cm}

\begin{document}

\begin{flushright}
Załącznik nr 7a
\end{flushright}

\vspace{-1em}
\noindent
Akademia Nauk Stosowanych w Elblągu \\
Instytut Informatyki Stosowanej im. Krzysztofa Brzeskiego

\vspace{2em}

\noindent Student: \textbf{<< student.imie|s >> << student.nazwisko|s >>} \hfill Nr albumu: \textbf{<< student.nr_albumu|s >>} \\
Kierunek: informatyka \\
Specjalność: \textbf{<< specialization|s >>} \\
Studia: inżynierskie \textbf{<< student.tryb_studiow|s >>} \\
Rok ak.: \textbf{<< internship.rok_uczelniany|s >>}

\vspace{3em}

\begin{center}
\textbf{\large SPRAWOZDANIE STUDENTA} \\[0.5em]
\textbf{\large Z PRAKTYKI ZAWODOWEJ REALIZOWANEJ} \\[0.5em]
\textbf{\large NA PODSTAWIE PRACY ZAWODOWEJ LUB DZIAŁALNOŚCI GOSPODARCZEJ} \\[1em]
odbytej w \textbf{<< company.nazwa|s >>} \\
\textbf{<< company.adres|s >>, << company.miasto|s >>}
\end{center}

\vspace{3em}

\noindent \textbf{I. CHARAKTERYSTYKA MIEJSCA PRACY}

\vspace{0.75em}

\noindent << workplace_description|text >>

\vspace{2em}

\noindent \textbf{II. OPIS I ANALIZA WYKONYWANYCH PRAC}

\vspace{0.75em}

\noindent << opis_prac|text >>

\vspace{2em}

\noindent \textbf{III. WIEDZA I UMIEJĘTNOŚCI UZYSKANE W TRAKCIE PRACY ZAWODOWEJ LUB DZIAŁALNOŚCI GOSPODARCZEJ}

\vspace{0.75em}

\noindent << skills|text >>

\vspace{6em}

\noindent
\begin{minipage}[t]{0.45\textwidth}
\centering
\dotfill \\
\small data i podpis studenta
\end{minipage}
\hfill
\begin{minipage}[t]{0.45\textwidth}
\centering
\dotfill \\
\small data i podpis bezpośredniego przełożonego \\
\small lub uczelnianego opiekuna praktyk
\end{minipage}

\end{document}
