\documentclass[11pt,a4paper]{article}
\usepackage{fontspec}
\usepackage{polyglossia}
\setmainlanguage{polish}
\setmainfont{Latin Modern Roman}
\usepackage{geometry}
\geometry{margin=1.5cm}
\usepackage{longtable}
\usepackage{array}
\renewcommand{\arraystretch}{1.4}

\begin{document}

\noindent
Akademia Nauk Stosowanych w Elblągu \\
Instytut Informatyki Stosowanej im. Krzysztofa Brzeskiego

\vspace{2em}

\noindent Student: \textbf{<< student.imie|s >> << student.nazwisko|s >>} \hfill Nr albumu: \textbf{<< student.nr_albumu|s >>} \\
Kierunek: \textbf{<< student.kierunek|s >>} \\
Specjalność: \textbf{<< specialization|s >>} \\
Studia: inżynierskie \textbf{<< student.tryb_studiow|s >>} \\
Rok ak.: \textbf{<< internship.rok_uczelniany|s >>}

\vspace{2em}

\begin{center}
\textbf{\large SPRAWOZDANIE STUDENTA} \\[0.5em]
\textbf{\large Z PRAKTYKI ZAWODOWEJ} \\[1em]
odbytej w \textbf{<< company.nazwa|s >>} \\
\textbf{<< company.adres|s >>, << company.miasto|s >>}
\end{center}

\vspace{1.5em}

\noindent \textbf{I. CHARAKTERYSTYKA MIEJSCA ODBYWANIA PRAKTYKI}

\vspace{0.75em}

\noindent << workplace_description|text >>

\vspace{2em}

\noindent \textbf{II. OPIS I ANALIZA WYKONYWANYCH PRAC}

\vspace{0.75em}

\noindent << opis_prac|text >>

\vspace{2em}

\noindent \textbf{III. WIEDZA I UMIEJĘTNOŚCI UZYSKANE W TRAKCIE PRAKTYKI}

\vspace{0.75em}

\noindent << skills|text >>

\vspace{4em}

\noindent\hfill
\begin{minipage}[t]{0.45\textwidth}
\centering
\dotfill \\
\small data i podpis studenta
\end{minipage}

\end{document}
