\documentclass[11pt,a4paper]{article}
\usepackage{fontspec}
\usepackage{polyglossia}
\setmainlanguage{polish}
\setmainfont{Latin Modern Roman}
\usepackage{geometry}
\geometry{margin=1.5cm}
\usepackage{tabularx}
\usepackage{makecell}
\usepackage{array}
\renewcommand{\arraystretch}{1.4}

\begin{document}

\begin{flushright}
Załącznik nr 8
\end{flushright}

\vspace{-1em}

\noindent \textbf{Akademia Nauk Stosowanych w Elblągu} \\
\textbf{Instytut Informatyki Stosowanej im. Krzysztofa Brzeskiego}

\vspace{1em}

\noindent \textbf{Student:} \textbf{<< student.first_name|s >> << student.last_name|s >>} \hfill \textbf{Nr albumu:} \textbf{<< student.album_number|s >>}

\vspace{1em}

\begin{center}
\textbf{\large PROTOKÓŁ ZALICZENIA PRAKTYKI ZAWODOWEJ}
\end{center}

\noindent\textbf{Miejsce i okres realizacji:} \\
\textbf{<< zapis.firma_nazwa|s >>}
<<% if terminy.od and terminy.do %>>
--- od \textbf{<< terminy.od|s >>} do \textbf{<< terminy.do|s >>}
<<% endif %>>

\vspace{1em}

\begin{tabular}{|p{9cm}|p{7cm}|}
\hline
Ocena za sprawozdanie S =
<<% if zapis.ocena_sprawozdania %>>
\textbf{<< zapis.ocena_sprawozdania >>}
<<% else %>>
\dotfill
<<% endif %>>
&
Ocena U (opiekun uczelniany) =
<<% if zapis.ocena_uopz %>>
\textbf{<< zapis.ocena_uopz >>}
<<% else %>>
\dotfill
<<% endif %>>
\\ \hline
Ocena Z (opiekun zakładowy) =
<<% if zapis.ocena_zopz %>>
\textbf{<< zapis.ocena_zopz >>}
<<% else %>>
\dotfill
<<% endif %>>
& Data zaliczenia: \dotfill \\ \hline
\end{tabular}

\vspace{1em}

\noindent\textbf{Pytania egzaminacyjne i oceny:}

\begin{tabular}{|p{0.5cm}|p{10cm}|p{3cm}|}
\hline
\textbf{Lp.} & \textbf{Pytanie / zadanie} & \textbf{Ocena (2--5)} \\ \hline
1 & <<% if zapis.sprawdzian_pytanie_1 %>><< zapis.sprawdzian_pytanie_1|s >><<% endif %>> & <<% if zapis.sprawdzian_ocena_1 %>>\textbf{<< zapis.sprawdzian_ocena_1 >>}<<% endif %>> \\ \hline
2 & <<% if zapis.sprawdzian_pytanie_2 %>><< zapis.sprawdzian_pytanie_2|s >><<% endif %>> & <<% if zapis.sprawdzian_ocena_2 %>>\textbf{<< zapis.sprawdzian_ocena_2 >>}<<% endif %>> \\ \hline
3 & <<% if zapis.sprawdzian_pytanie_3 %>><< zapis.sprawdzian_pytanie_3|s >><<% endif %>> & <<% if zapis.sprawdzian_ocena_3 %>>\textbf{<< zapis.sprawdzian_ocena_3 >>}<<% endif %>> \\ \hline
\multicolumn{2}{|r|}{\textbf{Średnia E}} &
<<% if zapis.sprawdzian_ocena_1 and zapis.sprawdzian_ocena_2 and zapis.sprawdzian_ocena_3 %>>
\textbf{<< "%.2f"|format((zapis.sprawdzian_ocena_1 + zapis.sprawdzian_ocena_2 + zapis.sprawdzian_ocena_3) / 3.0) >>}
<<% else %>>\dotfill<<% endif %>> \\ \hline
\multicolumn{2}{|r|}{\textbf{Ocena końcowa K = 0,4E + 0,1S + 0,2U + 0,3Z}} &
<<% if zapis.sprawdzian_ocena_1 and zapis.sprawdzian_ocena_2 and zapis.sprawdzian_ocena_3 and zapis.ocena_sprawozdania and zapis.ocena_uopz and zapis.ocena_zopz %>>
\textbf{<< "%.2f"|format(0.4 * ((zapis.sprawdzian_ocena_1 + zapis.sprawdzian_ocena_2 + zapis.sprawdzian_ocena_3) / 3.0) + 0.1 * zapis.ocena_sprawozdania + 0.2 * zapis.ocena_uopz + 0.3 * zapis.ocena_zopz) >>}
<<% else %>>\dotfill<<% endif %>> \\ \hline
\end{tabular}

\vspace{1.5em}

\noindent\textbf{Skład Komisji:}

\vspace{0.5em}

\noindent 1. \dotfill \quad --- Przewodniczący Komisji

\noindent 2. <<% if uopz.first_name %>>\textbf{<< uopz.first_name|s >> << uopz.last_name|s >>}<<% else %>>\dotfill<<% endif %>> \quad --- Uczelniany opiekun praktyki

\noindent 3. \dotfill

\vspace{2em}

\noindent Zaliczam praktykę zawodową na ocenę (K): \dotfill

\vspace{2em}

\noindent
\begin{minipage}[t]{0.45\textwidth}
\centering
\dotfill \\
{\small Podpis Przewodniczącego Komisji}
\end{minipage}
\hfill
\begin{minipage}[t]{0.45\textwidth}
\centering
\dotfill \\
{\small Podpis opiekuna uczelnianego}
\end{minipage}

\end{document}
