\documentclass[11pt,a4paper]{article}
\usepackage{fontspec}
\usepackage{polyglossia}
\setmainlanguage{polish}
\setmainfont{Latin Modern Roman}
\usepackage{geometry}
\geometry{margin=2cm}
\usepackage{tabularx}

\begin{document}

\begin{flushright}
    \textbf{<< company.miasto|s >>}, dnia \dots\dots\dots\dots\dots\dots
\end{flushright}

\vspace{2em}

\begin{flushleft}
    \textbf{<< company.nazwa|s >>} \\
    \textbf{<< company.adres|s >>, << company.miasto|s >>} \\[0.5em]
    {\small PieczÄ™Ä‡ firmy}
\end{flushleft}

\vspace{3em}

\begin{center}
    \textbf{\large OĹšWIADCZENIE INSTYTUCJI} \\[0.5em]
    \textbf{w sprawie przyjÄ™cia studenta na praktykÄ™ zawodowÄ…}
\end{center}

\vspace{3em}

\noindent W imieniu \textbf{<< company.nazwa|s >>} \\
oĹ›wiadczam, ĹĽe w terminie od \textbf{<< terminy.od|s >>} do \textbf{<< terminy.do|s >>} przyjmiemy na praktykÄ™ zawodowÄ… studenta Instytutu Informatyki Stosowanej im. Krzysztofa Brzeskiego \\[1em]
\textbf{<< student.imie|s >> << student.nazwisko|s >>} \\
Akademii Nauk Stosowanych w ElblÄ…gu, \\
kierunek: \textbf{informatyka}, \hspace{1cm} rok studiĂłw: \textbf{IV}, \hspace{1cm} nr albumu \textbf{<< student.nr_albumu|s >>}

\vspace{2em}

\noindent ZakĹ‚adowym opiekunem praktyki bÄ™dzie: \\[1em]
\textbf{<< zopz.imie_nazwisko|s >>} --- \textbf{<< zopz.stanowisko|s >>}

\vspace{1.5em}

\noindent Telefon \textbf{<< zopz.telefon|s >>}, e-mail \textbf{<< zopz.email|s >>}

\vspace{2em}

\noindent OsobÄ… upowaĹĽnionÄ… do podpisania porozumienia dotyczÄ…cego prowadzenia praktyki zawodowej jest ze strony naszej instytucji: \\[1em]
\textbf{<< firma_upowazniony|s >>} --- \textbf{<< authorized_person_position|s >>}

\vspace{5em}

\begin{flushright}
    \begin{minipage}{6cm}
        \centering
        \dotfill \\
        {\small PieczÄ™Ä‡ imienna i podpis}
    \end{minipage}
\end{flushright}

\end{document}
