\documentclass[11pt,a4paper]{article}
\usepackage{fontspec}
\usepackage{polyglossia}
\setmainlanguage{polish}
\setmainfont{Latin Modern Roman}
\usepackage{geometry}
\geometry{margin=2cm}
\usepackage{tabularx}

\begin{document}

\begin{flushright}
    << zapis.firma_miasto | default('\\dots\\dots\\dots\\dots\\dots\\dots\\dots\\dots') | s >>, dnia \dots\dots\dots\dots\dots\dots \\
    {\small (miejscowość)}
\end{flushright}

\vspace{2em}

\begin{flushleft}
    \dots\dots\dots\dots\dots\dots\dots\dots\dots\dots\dots\dots\dots \\
    {\small Pieczęć firmy}
\end{flushleft}

\vspace{3em}

\begin{center}
    \textbf{\large OŚWIADCZENIE INSTYTUCJI} \\[0.5em]
    \textbf{w sprawie przyjęcia studenta na praktykę zawodową}
\end{center}

\vspace{2em}

Oświadczamy, że przyjmujemy na praktykę zawodową studenta:

\vspace{1em}

\noindent Imię i nazwisko: \textbf{<< student.first_name | s >> << student.last_name | s >>} \\[0.5em]
Nr albumu: \textbf{<< student.album_number | s >>} \\[0.5em]
Kierunek: Informatyka, specjalność: \textbf{<< zapis.specjalnosc | s >>} \\[0.5em]

W terminie: {%- if zapis.termin_od and zapis.termin_do -%}od \textbf{<< zapis.termin_od.strftime('%d.%m.%Y') >>} do \textbf{<< zapis.termin_do.strftime('%d.%m.%Y') >>}{%- else -%}od \dots\dots\dots\dots\dots\dots\dots\dots\ do \dots\dots\dots\dots\dots\dots\dots\dots{%- endif -%} \\[1em]

Zobowiązujemy się do:
\begin{itemize}
    \item zapewnienia warunków do realizacji programu praktyki zgodnie z wymogami ANS w Elblągu
    \item wyznaczenia zakładowego opiekuna praktyki: {%- if zapis.zopz_imie_nazwisko %}\textbf{<< zapis.zopz_imie_nazwisko | s >>}{%- else %}\dots\dots\dots\dots\dots\dots\dots\dots\dots\dots\dots{%- endif %}
    \item przeprowadzenia szkolenia w zakresie bezpieczeństwa i higieny pracy
    \item przestrzegania zasad ochrony danych osobowych studenta
    \item wystawienia zaświadczenia o odbyciu praktyki wraz z oceną
\end{itemize}

\vspace{3em}

\noindent
\begin{minipage}[t]{0.45\textwidth}
\centering
\dotfill\\
\small (imię i nazwisko osoby upoważnionej)
\end{minipage}
\hfill
\begin{minipage}[t]{0.45\textwidth}
\centering
\dotfill\\
\small (podpis i pieczęć)
\end{minipage}

\end{document}