\documentclass[a4paper,12pt]{article}
\usepackage[utf8]{inputenc}
\usepackage[polish]{babel}
\usepackage{geometry}
\usepackage{times}
\usepackage{setspace}

\geometry{
  left=25mm,
  right=25mm,
  top=30mm,
  bottom=30mm
}

\begin{document}

\begin{center}
{\Large\textbf{ZAŁĄCZNIK Nr 3}}\\[0.5cm]
{\large\textbf{POROZUMIENIE O ORGANIZACJĘ PRAKTYKI STUDENCKIEJ}}
\end{center}

\vspace{1cm}

zawarte w dniu \hrulefill między:

\vspace{0.5cm}

\noindent\textbf{1.} Akademią Nauk Stosowanych w Elblągu\\
z siedzibą w Elblągu, ul. Wojska Polskiego 1, 82-300 Elbląg\\
reprezentowaną przez Rektora dr hab. [Imię] [Nazwisko]\\
zwaną dalej "Uczelnią"

\noindent a

\noindent\textbf{2.} {{ data.firma.nazwa }}\\
z siedzibą: {{ data.firma.adres }}, {{ data.firma.miasto }}\\
NIP/KRS: {{ data.firma.nip_krs }}\\
reprezentowaną przez: \hrulefill\\
zwaną dalej "Zakładem Pracy"

\vspace{1cm}

\noindent\textbf{§ 1}\\
Przedmiotem porozumienia jest organizacja praktyki studenckiej dla studenta:

\noindent\textbf{{{ data.student.imie }} {{ data.student.nazwisko }}}, nr albumu: {{ data.student.nr_albumu }}\\
w okresie od {{ data.terminy.od }} do {{ data.terminy.do }} ({{ data.praktyka.wymiar_godzin }} godzin).

\vspace{0.5cm}

\noindent\textbf{§ 2}\\
Zakład Pracy zobowiązuje się do:
\begin{enumerate}
\item zapewnienia studentowi warunków do realizacji programu praktyki,
\item wyznaczenia opiekuna zakładowego (ZOPZ): {{ data.zopz.imie_nazwisko }},
\item prowadzenia nadzoru nad wykonywaniem przez studenta zadań praktycznych,
\item wystawienia oceny z praktyki.
\end{enumerate}

\vspace{0.5cm}

\noindent\textbf{§ 3}\\
Uczelnia zobowiązuje się do:
\begin{enumerate}
\item przygotowania programu praktyki zgodnego z kierunkiem studiów,
\item wyznaczenia opiekuna uczelnianego (UOPZ),
\item sprawowania nadzoru nad przebiegiem praktyki,
\item ubezpieczenia studenta od następstw nieszczęśliwych wypadków.
\end{enumerate}

\vspace{1cm}

Porozumienie sporządzono w dwóch jednobrzmiących egzemplarzach, po jednym dla każdej ze stron.

\vspace{2cm}

\begin{tabular}{p{7cm}p{7cm}}
\textbf{Za Uczelnię:} & \textbf{Za Zakład Pracy:} \\[2cm]
\hline & \hline \\
Dr hab. [Imię] [Nazwisko] & \\
Rektor ANS w Elblągu &
\end{tabular}

\end{document}