\documentclass[a4paper,12pt]{article}
\usepackage[utf8]{inputenc}
\usepackage[polish]{babel}
\usepackage{geometry}
\usepackage{times}
\usepackage{setspace}

\geometry{
  left=25mm,
  right=25mm,
  top=30mm,
  bottom=30mm
}

\begin{document}

\begin{center}
{\Large\textbf{ZAŁĄCZNIK Nr 1}}\\[0.5cm]
{\large\textbf{PODANIE O REALIZACJĘ PRAKTYKI STUDENCKIEJ}}
\end{center}

\vspace{1cm}

\noindent\textbf{Dane studenta:}\\
Imię i nazwisko: {{ data.student.imie }} {{ data.student.nazwisko }}\\
Numer albumu: {{ data.student.nr_albumu }}\\
Rok akademicki: {{ data.praktyka.rok_uczelniany }}\\
Semestr: {{ data.praktyka.semestr }}\\

\vspace{1cm}

\noindent\textbf{Dane zakładu pracy:}\\
Nazwa firmy: {{ data.firma.nazwa }}\\
Adres: {{ data.firma.adres }}\\
Miasto: {{ data.firma.miasto }}\\
NIP/KRS: {{ data.firma.nip_krs }}\\

\vspace{1cm}

\noindent\textbf{Planowany okres praktyki:}\\
Data rozpoczęcia: {{ data.terminy.od }}\\
Data zakończenia: {{ data.terminy.do }}\\
Wymiar godzinowy: {{ data.praktyka.wymiar_godzin }} godzin\\

\vspace{2cm}

Proszę o wyrażenie zgody na realizację praktyki studenckiej w wyżej wymienionym zakładzie pracy w okresie {{ data.terminy.od }} - {{ data.terminy.do }}.

\vspace{2cm}

\begin{flushright}
\begin{tabular}{c}
\hline
Podpis studenta\\
{{ data.student.imie }} {{ data.student.nazwisko }}
\end{tabular}
\end{flushright}

\vspace{1cm}

\noindent Data: \hrulefill

\end{document}