\documentclass[a4paper,12pt]{article}
\usepackage[utf8]{inputenc}
\usepackage[polish]{babel}
\usepackage{geometry}
\usepackage{times}
\usepackage{setspace}
\usepackage{array}
\usepackage{longtable}

\geometry{
  left=20mm,
  right=20mm,
  top=30mm,
  bottom=30mm
}

\begin{document}

\begin{center}
{\Large\textbf{ZAŁĄCZNIK Nr 4}}\\[0.5cm]
{\large\textbf{INDYWIDUALNY PROGRAM PRAKTYK}}
\end{center}

\vspace{1cm}

\noindent\textbf{Student:} {{ data.student.imie }} {{ data.student.nazwisko }}, nr albumu: {{ data.student.nr_albumu }}\\
\textbf{Rok akademicki:} {{ data.praktyka.rok_uczelniany }}, semestr {{ data.praktyka.semestr }}\\
\textbf{Zakład pracy:} {{ data.firma.nazwa }}\\
\textbf{Okres praktyki:} {{ data.terminy.od }} - {{ data.terminy.do }}\\
\textbf{Opiekun zakładowy (ZOPZ):} {{ data.zopz.imie_nazwisko }}\\

\vspace{1cm}

\begin{longtable}{|p{1cm}|p{5cm}|p{3.5cm}|p{4cm}|p{1.5cm}|}
\hline
\textbf{Lp.} & \textbf{Efekt uczenia się} & \textbf{Dział/Komórka} & \textbf{Przykładowe prace} & \textbf{Dni} \\
\hline
\endfirsthead

\hline
\textbf{Lp.} & \textbf{Efekt uczenia się} & \textbf{Dział/Komórka} & \textbf{Przykładowe prace} & \textbf{Dni} \\
\hline
\endhead

{% for item in data.harmonogram %}
{{ item.efekt_kod }} &
\begin{minipage}[t]{5cm}
\vspace{0.1cm}
{{ item.efekt_opis }}
\vspace{0.1cm}
\end{minipage} &
\begin{minipage}[t]{3.5cm}
\vspace{0.1cm}
{{ item.dzial }}
\vspace{0.1cm}
\end{minipage} &
\begin{minipage}[t]{4cm}
\vspace{0.1cm}
{{ item.prace }}
\vspace{0.1cm}
\end{minipage} &
{{ item.dni }} \\
\hline
{% endfor %}

\multicolumn{4}{|r|}{\textbf{SUMA DNI:}} & \textbf{{% set suma = [] %}{% for item in data.harmonogram %}{% if suma.append(item.dni) %}{% endif %}{% endfor %}{{ suma | sum }}} \\
\hline

\end{longtable}

\vspace{1cm}

\noindent\textbf{Uwagi opiekuna uczelnianego (UOPZ):}

\vspace{2cm}

\noindent Program został zatwierdzony przez opiekuna uczelnianego.

\vspace{2cm}

\begin{tabular}{p{7cm}p{7cm}}
\textbf{Opiekun uczelniany (UOPZ):} & \textbf{Opiekun zakładowy (ZOPZ):} \\[2cm]
\hline & \hline \\
& {{ data.zopz.imie_nazwisko }} \\
& {{ data.zopz.stanowisko }}
\end{tabular}

\vspace{1cm}

\noindent Data zatwierdzenia: \hrulefill

\end{document}