\documentclass[a4paper,12pt]{article}
\usepackage[utf8]{inputenc}
\usepackage[polish]{babel}
\usepackage{geometry}
\usepackage{times}
\usepackage{setspace}

\geometry{
  left=25mm,
  right=25mm,
  top=30mm,
  bottom=30mm
}

\begin{document}

\begin{flushright}
Elbląg, \today
\end{flushright}

\begin{flushright}
\textbf{Numer pisma: {{ data.numer_pisma }}}
\end{flushright}

\vspace{1cm}

\begin{center}
{\Large\textbf{ZAŁĄCZNIK Nr 2}}\\[0.5cm]
{\large\textbf{SKIEROWANIE NA PRAKTYKĘ STUDENCKĄ}}
\end{center}

\vspace{1cm}

\noindent Do: {{ data.firma.nazwa }}\\
\phantom{Do: }{{ data.firma.adres }}\\
\phantom{Do: }{{ data.firma.miasto }}\\

\vspace{1cm}

\noindent\textbf{Dotyczy:} Skierowania studenta na praktykę zawodową\\

\vspace{0.5cm}

Na podstawie przepisów dotyczących praktyk studenckich, niniejszym kierujemy Państwa studenta:

\vspace{1cm}

\noindent\textbf{Dane studenta:}\\
Imię i nazwisko: \textbf{{{ data.student.imie }} {{ data.student.nazwisko }}}\\
Numer albumu: {{ data.student.nr_albumu }}\\
Rok studiów: {{ data.praktyka.rok_uczelniany }}\\
Semestr: {{ data.praktyka.semestr }}\\

\vspace{1cm}

\noindent\textbf{Okres praktyki:}\\
Data rozpoczęcia: {{ data.terminy.od }}\\
Data zakończenia: {{ data.terminy.do }}\\
Wymiar godzinowy: {{ data.praktyka.wymiar_godzin }} godzin\\

\vspace{1cm}

Prosimy o przyjęcie studenta na praktykę zawodową oraz wyznaczenie opiekuna zakładowego (ZOPZ).

\vspace{2cm}

\begin{flushright}
\begin{tabular}{c}
\hline
Dr hab. [Imię] [Nazwisko]\\
Rektor\\
Akademii Nauk Stosowanych w Elblągu
\end{tabular}
\end{flushright}

\end{document}