{% extends "layouts/base.html" %}
{% block tytul %}{{ t('Przypisz UOPZ') }}{% endblock %}
{% block tresc %}
<h1>{{ t('Przypisz opiekuna uczelnianego') }}</h1>
<div class="karta">
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="pole-form">
      <label>{{ form.supervisor_id.label }}</label>
      {{ form.supervisor_id(class_='select') }}
    </div>
    <div class="u-csp-159">
      <button type="submit" class="przycisk przycisk--glowny">{{ t('Zapisz') }}</button>
      <a href="{{ url_for('zarzadzanie.lista_zgloszen') }}" class="przycisk przycisk--drugorzedny">{{ t('Anuluj') }}</a>
    </div>
  </form>
</div>
{% endblock %}
